{namespace soy.example}

/**
 */
{template .index2}
<p>Hello World3sss</p>
{/template}

/**
 */
{template .index3}
{msg desc="Says hello and tells user to click a link."}
  Fuel consumption combined
{/msg}
<br>

hello3

<br>

{$ij.abc}

<br>
{hello}
{/template}

/**
 * @param words
 * @param? hello
 * @param test
 */
{template .index4}
{foreach $w in $words}
  word:{$w}<br>
{/foreach}
<br>
{if $hello}{$hello}{/if}
<br>
{$test}
{\n}
<br><br>
{xid hello}
{/template}
