{namespace soy.example}

/**
 */
{template .index2}
<p>Hello World3sss</p>
{/template}

/**
 */
{template .index3}
{msg desc="Says hello and tells user to click a link."}
  Fuel consumption combined
{/msg}
<br>

hello3

<br>

{$ij.abc}

<br>
{hello}
{/template}
